<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Rediriger les URL sans slash final
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirection vers index.php si ce n'est pas un fichier ou un dossier existant
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Autoriser le passage de l'en-tête Authorization (utile pour les tokens JWT ou Bearer)
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
